/* CSS for login page */

*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

/* https://cssgradient.io */
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(236,249,148,0.335171568627451) 35%, rgba(255,246,0,0.48923319327731096) 100%), url("background/about_hkbu_rpg.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
/* 1. Form */
/* When you need something to be positioned in an very specific spot you would use absolute positioning. For instance you may want to have an image with an overlapping caption that always sits at the top of the picture (say 20px from the top). */
.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 50px 60px 70px;
    text-align: center;
}
/* Form title */
.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
}
/* Insert underline after each h1 in form boxes */
.form-box h1::after{
    content: '';
    width:30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}


