/* CSS for login page */

*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(236,249,148,0.335171568627451) 35%, rgba(0,212,255,1) 100%), url("background/hkbu.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

