body {
	background-color: #fffcf9;
	/* background-image: linear-gradient(90deg, rgba(255,255,255,0.5256477591036415) 20%, rgba(255,255,255,0.5228466386554622) 51%, rgba(246,246,246,0.5396533613445378) 80%), url("background/about_hkbu_rpg.jpg"); */
	background-size: cover;

}

.btn-success {
	background-color: #487054;
	color: white;
}
.col-sm-6 {
	padding-top: 16px;
}
.card {
	padding: 8px;
	margin-bottom: 16px;
	box-shadow: 10px 10px 5px grey;
}

.box {
	display: flex;
	flex: 1 0 21%;
	flex-flow: wrap;
	margin: 5px;
	height: 100px;
}

.body p{
	background-color: white;
}

.btn{
	margin-top: 15px;
}
.btn:hover {
	background-color: RoyalBlue;
  }

.img {
	width: 50%;
	margin: auto;
	display: block;
  }

.color-green{
    color: #008000;
}

.color-red{
    color: #F00;
}

